<!-- notes/templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0" />
        <title>
            {% block title %}
            Sticky Notes
            {% endblock title %}
        </title>
        <!-- Add your CSS links or stylesheets here -->
        <link rel="stylesheet" href="{% static 'notes/styles.css' %}" />
    </head>
    <body>
        <header>
            <h1>
            {% block header %}
            Sticky Notes
            {% endblock header %}
            </h1>
            <nav>
                <ul>
                    <li><a href="{% url 'note_list' %}">Home</a></li>
                    <li><a href="{% url 'note_create' %}">Add Note</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <!-- Add footer content or links here -->
        </footer>
    </body>
</html>
